# Ignore configuration files with secrets
/Users/harshitarora/Library/CloudStorage/OneDrive-Personal/My Stuff/Coding/DigiLocker/DigiLocker/Config
Configuration.plist

# Don't ignore templates
!GoogleService-Info.template.plist
!Configuration.template.plist 