<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>FIREBASE_API_KEY</key>
    <string>YOUR_API_KEY</string>
    <key>FIREBASE_PROJECT_ID</key>
    <string>YOUR_PROJECT_ID</string>
    <key>FIREBASE_STORAGE_BUCKET</key>
    <string>YOUR_STORAGE_BUCKET</string>
    <key>FIREBASE_APP_ID</key>
    <string>YOUR_APP_ID</string>
</dict>
</plist> 